@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=PT+Sans:wght@700&display=swap');

:root{
    --global-color: rgb(0, 48, 180);
    --second-color: rgb(204, 0, 61);
    --third-color: rgb(255, 102, 0);
    --header-height: 60px;
    --body-font: 'Roboto', sans-serif;
    --title-font: 'PT Sans', sans-serif;
    --second-font: 'Merienda', sans-serif;

    --z-back: -10;
    --z-normal: 1;
    --z-top: 10;
    --z-over-top: 50;
    --z-tooltip: 100;
}




*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

h2{
    margin-top: 0;
    margin-bottom: 90px;
    font-family: var(--title-font);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    
}
h3{
    margin: 20px 0;
}



.section{
    padding: 100px 0;
}
.section-title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--global-color);
    position: relative;
}
.section-title::after{
    content: '';
    position: absolute;
    top: calc(100% + 10%);
    left: 0;
    right: 0;
    width: 70%;
    height: 3px;
    margin: auto;
    background: var(--global-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.section-subtitle{
    font-size: 20px;
}






.bd-grid{
    max-width: 1200px;
    margin: 0 10px;
    display: grid;
    grid-column-gap: 2rem;
    width: calc(100% - 20px);
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 92px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.5);
    z-index: var(--z-over-top);
}
body{
    position: absolute;
    top: var(--header-height);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--body-font);
    word-wrap: break-word;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}







.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1.3);
}
.nav_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_logo img{
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}
.logo_text{
    margin-left: 5px;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: justify;
    line-height: 0.8;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 700;
    color: var(--second-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.logo_text small{
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.nav_menu{
    visibility: hidden;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 400ms;
}
.nav_list{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    background-color: rgb(246, 246, 246)
}
.nav_link{
    font-size: 17px;
    text-decoration: none;
    color: var(--global-color);
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.nav_toggle{
    margin-right: 10px;
    width: 20px;
    height: 18px;
    cursor: pointer;
}
.toggle_bar{
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--global-color);
    transform-origin: left;
    transition: 300ms;
}
.nav_toggle:hover .toggle_bar{
    background-color: rgb(0, 163, 54);
}



/*show menu mobile*/
.nav_menu.active{
    visibility: visible;
    transform: scaleY(1);
}
.nav_toggle.active .bar1{
    transform: rotate(45deg) translate(-1px,-2px);
}
.nav_toggle.active .bar2{
    opacity: 0;
}
.nav_toggle.active .bar3{
    transform: rotate(-45deg);
}



/*active menu item mobile*/
.nav_link.active{
    color: white;
    background-color: var(--global-color);
}








.home{
    display: none;
    background: url("../img/telephone-back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home_title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}
.home_title .title_text{
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 65px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.home_button{
    display: inline-block;
    padding: 10px 40px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to bottom right, var(--global-color), var(--second-color), var(--third-color));
    transition: 500ms;
}
.home_button:hover{
    transform: translateY(-10px);
}








.services{
    min-height: 100%;
    background: url("../img/service-back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.large-title{
    display: none;
    text-transform: uppercase;
}
.small-title{
    display: inline;
}
.services_container{
    text-align: center;
    color: var(--global-color);
    row-gap: 6rem;
}
.service_icon{
    display: inline-block;
    font-size: 50px;
    transition: 300ms;
}
.service_icon:hover{
    transform: scale(1.1);
}
.service_details{
    margin: 0 15%;
    color: black;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 30px;
}
.service_button a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: linear-gradient(to bottom, var(--second-color), var(--global-color));
    padding: 10px 20px;
    display: inline-block;
    transition: transform 500ms ease-in-out;
}
.service_button a:hover{
    transform: translateY(-10px);
    background: linear-gradient(to bottom, var(--global-color), var(--global-color));
}









.testimonial{
    width: 100%;
    background: url("../img/arrow-back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.testimonial .bd-grid{
    grid-template-columns: 100%;
}
.testimonials-carousel-wrap{
    position: relative;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 60%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: var(--z-top);
	cursor: pointer;
	background: var(--global-color);
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
    text-align: left;
	right: -10px;
	padding-left: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
    text-align: right;
	left: -10px;
	padding-right: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: 0;
	background: grey;
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: 0;
	background: grey;
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
    text-align: center;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow: hidden;
    border: 1px solid rgb(212, 212, 212);
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: darkred;
}
.testimonials-avatar h3{
    font-family: var(--body-font);
	font-weight: 600;
	color: var(--second-color);
	font-size: 18px;
}
.testimonials-avatar h4{
    font-family: var(--body-font);
	font-weight:400;
	font-size:12px;
	padding-top:6px;
	color: var(--third-color);
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}
.testimonials-text p{
	color: var(--global-color);
	font-size: 14px;
	font-family: var(--second-font);
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
    display: flex;
    justify-content: center;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: var(--global-color);
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}





/*contact*/
.contact{
    background: url("../img/contact-back2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_input{
    width: 100%;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px 0;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4);
}
.contact_submit{
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: var(--second-font);
    outline: none;
    border: none;
    background: linear-gradient(to right, var(--second-color), var(--third-color));
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 500ms ease;
}
.contact_submit:hover{
    transform: translateY(10px);
}


.map{
    height: 400px;
}


.footer{
    width: 100%;
    max-width: 1400px;
    padding: 50px 0 0 0;
    margin: auto;
}
.footer_head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer_logo img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.footer_title{
    margin: 0 0 0 10px;
    position: relative;
    font-size: 30px;
    color: var(--second-color);
    text-transform: uppercase;
}
.footer_details{
    width: calc(100% - 40px);
    text-align: justify;
    margin: 0 auto;
    color: rgb(90, 90, 90);
}
.copyright_text{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid grey;
}



.footer_lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 10px;
}
.footer_list_caption{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--global-color);
    position: relative;
}
.footer_list_caption::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}
.footer_list_items{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer_link{
    margin: 10px 0;
}
.footer_link a{
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
.footer_link a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}





#topButton{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    font-size: 20px;
    color: white;
    background-color: black;
    opacity: 0.4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    z-index: var(--z-top);
}





/*media query*/
@media screen and (min-width: 600px){

    .section-title{
        font-size: 50px;
    }

    .nav_link{
        font-size: 20px;
    }
    .contact{
        background: url("../img/contact-back.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 768px){

    body{top: calc(var(--header-height) + 20px)}
    .section-subtitle{font-size: 25px;}

    .nav{height: calc(var(--header-height) + 20px);}

    .nav_toggle{display: none;}

    .nav_menu{
        visibility: visible;
        transform: none;
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        margin-right: 15px;
    }
    .nav_list{
        display: flex;
        background-color: white;
        height: 100%;
    }
    .nav_item{
        margin-left: 15px;
        position: relative;
        height: 100%;
    }    
    .nav_link{
        font-size: 18px;
        color: black;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav_link.active, .nav_link:hover{
        color: var(--second-color);
        background-color: white;
    }
    .nav_link::after{
        visibility: hidden;
        content: '';
        position: absolute;
        left: 0;
        top: calc(100% - 3px);
        width: 100%;
        height: 2.5px;
        background: linear-gradient(to right, var(--second-color), var(--global-color));
        border-radius: 10px 10px 0 0;
        transform: scaleX(0);
        transition: 200ms;
    }
    .nav_link.active::after, .nav_link:hover::after{
        visibility: visible;
        transform: scaleX(1);
    }
    .home{
        display: block;
    }

    .service_icon{font-size: 60px;}

    .testimonials-text{background-color: rgba(255, 255, 255, 0.4);}
    .swiper-slide-active .testimonials-text {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
    }

    .contact_container{
        justify-content: center;
    }
    .contact_form{
        width: 100%;
    }

    .footer{
        display: grid;
        grid-template-columns: 50%;
    }
    .footer div{
        grid-row: 1 / 2;
    }
    .footer_head{
        margin-left: 20px;
        justify-content: left;
    }
    .footer_lists{
        grid-row: 2 / 3;
        margin-top: 0;
        margin-bottom: 0;
    }
    .copyright_text{
        grid-column: 1 / 3;
        font-size: 15px;
    }

    #topButton{
        bottom: 40px;
        right: 30px;
        font-size: 40px;
    }
}

@media screen and (min-width: 992px){
    nav{
        height: calc(var(--header-height) + 20px);
    }
    .nav_logo img{
        height: 45px;
    }
    .logo_text{
        font-size: 19px;
        letter-spacing: 5px;
    }
    .logo_text small{
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    .nav_menu{
        margin-right: 20px;
    }
    .nav_item{
        margin-left: 20px;
    }
    .nav_link{
        font-size: 21px;
    }
    .large-title{display: inline;}
    .small-title{display: none;}
    .services_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .service_details{font-size: 16px;}

    .virtual_assistance{
        padding-top: 50px;
    }
}
@media screen and (min-width: 1200px){
    nav{
        height: calc(var(--header-height) + 30px);
    }
    .nav_menu{
        margin-right: 30px;
    }
    .nav_item{
        margin-left: 30px;
    }
    .nav_link{
        font-size: 22px;
    }
    .home_title{
        height: 400px;
    }
}
@media screen and (min-width: 2000px){
    nav{
        height: calc(var(--header-height) + 40px);
    }
    .nav_logo img{
        height: 50px;
    }
    .nav_menu{
        margin-right: 40px;
    }
    .nav_item{
        margin-left: 40px;
    }
    .nav_link{
        font-size: 30px;
    }
    .home_title{
        height: 600px;
    }
    .home_title .title_text{
        font-size: 70px;
    }
    .service_details{font-size: 23px;}
}

@media screen and (min-width: 1220px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .nav_item{margin-left: 30px;}
}